*
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-color: green;
}

.judul p
{
    height: auto;
    padding: 20px 0px 12px;
    margin: 30px;
    font-weight: bold;
    color: #0B5E04;
    text-align: center;
    font-size: 250%;
    margin-top: 5%;
}

.form-box
{
    width: 530px;
    background: white;
    margin: 10% auto;
    padding: 30px 0;
    color:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 0%;
    border-radius: 2%;
}

.form-box p
{
    text-align: center;
    margin-bottom: 20xp;
}

.input-box
{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input
{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
}

::placeholder
{
    color: rgb(128, 116, 116);
}

.eye
{
    position: absolute;
    cursor: pointer;
}

#hide1
{
    display: none;
}

.login-btn
{
    margin: 40px auto 20px;
    width: 40%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #000;
    cursor: pointer;
    background: #0f7a05;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}
