* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
  }
  
  .navbar-inverse {
    background-color: #084403;
    font-size: 18px;
  }

  nav ul li a:hover
{
    background-color:#1B860A;
    color: white;
    border-radius: 5px;
}

.box {
  width: 500px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.529);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Image styling */
.box img {
  width: 25%;
  height: auto;
  pointer-events: none; /* Disable pointer events on the image to allow click on the box */
  border-radius: 20px;
}

.box i {
  font-size: 18px;
  color: grey;
}

.hidden-input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

  .container-section {
    margin-top: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .text {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    /* padding-left: 60px; */
    color: #0C7503;
    font-size: 24px;
  }
  
  .card-img-top {
    border-radius: 40px;
    padding: 20px;
    /* height: 250px;
    width: 350px; */
    position: inherit;
  }
  
  .card-body a
  {
    display: inline-block;
    padding: 10px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    text-decoration: none;
  }
  
  .card-inverse 
  {
    background-color: #0C7503;
    opacity: 57%;
    align-items: center;
  }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }
  
  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }
  
  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  

  .bg-grey {
    background-color: #eee;
  }

  .title {
    font-size: 64px!important;
    font-weight: bolder;
  }

  form, label {
    font-size: 20px;
  }